* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #3C1B59;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--color-principal);
}

.hidden {
    display: none;
}

#contenedorTablero {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    background-color: #cab3df;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.columna {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    min-width: 300px;
    height: fit-content;  
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botonAgregarTarjeta {
    border: none;
    width: 100%;
    padding: 10px 0 10px 10px;
    text-align: left;
    background-color: transparent;
    transition: background-color 0.5s ease, 
              color 0.2s ease;
}

.botonAgregarTarjeta:hover {
    background-color: #cab3df;
    color: #3C1B59;
}


.contenedorBotones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botonGuardar {
    width: 130px;
    background-color: #E6007A;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.botonGuardar:hover {
    background-color: #A30056;
}

.botonCancelar {
    border: none;
    font-size: 25px;
}

.botonCancelar:hover {
    background-color:  #cab3df;
}

.textareaTarjeta {
    width: 100%;
    margin: 15px 0 0 0;
    box-sizing: border-box;
}

.tarjeta {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    overflow-wrap: break-word;
}

.tarjeta:hover {
    background-color: #cab3df;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height:30px; 
    width: 100%;
}
