* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #3C1B59;
    --color-secundario: #cab3df;
    --color-fondo-columna: #f0f0f0;
    --color-texto: white;
    --color-boton-guardar: #E6007A;
    --color-hover-boton-guardar: #A30056;
    --color-hover-boton-eliminar: #9870be;
    --color-transparente: transparent;

    --borde-radio: 5px;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--color-principal);
}

h1 {
    text-align: center;
    color: var(--color-texto);
}

h2 {
    text-align: center;
    background-color: var(--color-secundario);
    border-radius: var(--borde-radio);
    padding: 5px;
    border: 1px solid black;
}

.hidden {
    display: none;
}

#contenedorTablero {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    overflow-x: auto;
    width: 100%;
    height: 90vh;
}

.columna {
    background-color: var(--color-fondo-columna);
    border-radius: var(--borde-radio);
    padding: 10px;
    width: 300px;
    min-width: 300px;
    height: fit-content;  
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height:30px; 
    width: 100%;
}

.tarjeta {
    border-radius: var(--borde-radio);
    border: 1px solid black;
    padding: 10px;
    overflow-wrap: break-word;
    position: relative;
}

.tarjeta:hover {
    background-color: var(--color-secundario);
}

.tarjeta:hover .botonEliminar {
    opacity: 1;
}

.tarjeta p {
    padding-right: 25px;
    transition: transform 0.2s ease;
}

.tarjeta:hover p {
    transform: translateX(5px);
}

.textareaTarjeta {
    width: 100%;
    margin: 15px 0 0 0;
    box-sizing: border-box;
}

.contenedorBotones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botonAgregarTarjeta {
    border: none;
    width: 100%;
    padding: 10px 0 10px 10px;
    text-align: left;
    background-color: var(--color-transparente);
    border-radius: var(--borde-radio);
    transition: background-color 0.5s ease, 
              color 0.2s ease;
}

.botonAgregarTarjeta:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.botonGuardar {
    width: 130px;
    background-color: var(--color-boton-guardar);
    color: var(--color-texto);
    padding: 8px;
    border-radius: var(--borde-radio);
}

.botonGuardar:hover {
    background-color: var(--color-hover-boton-guardar);
}

.botonCancelar {
    border: none;
    font-size: 25px;
}

.botonCancelar:hover {
    background-color:  var(--color-secundario);
}

.botonEliminar {
    border: none;
    background-color: var(--color-transparente);
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.botonEliminar:hover {
    background-color: var(--color-hover-boton-eliminar);
}

@media (min-width: 940px) {
    #contenedorTablero {
        justify-content: center; 
    }
}